* {
  box-sizing: border-box;
}

html, body {
  background-color: #161925;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

canvas {
  background-color: black;
  border-radius: 50%;
  height: 640px;
  left: 50%;
  max-height: 95vw;
  max-width: 95vw;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 640px;
  z-index: 2;
  @media all and (orientation: landscape) {
    max-height: 80vh;
    max-width: 80vh;
  }
  @media all and (orientation: portrait) {
    top: 40%;
  }
}

.controls {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 50%;
  padding: 1rem;
  position: absolute;
  transform: translateX(-50%);
  width: 100vw;
  @media all and (orientation: portrait) {
    @media (min-width: 600px) {
      display: none;
    }
  }
  @media all and (orientation: landscape) {
    align-items: center;
    height: 100%;
    @media (min-height: 600px) {
      display: none;
    }
  }
  button {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ddd;
    border-radius: 50%;
    color: #ddd;
    font-size: 3rem;
    height: 8rem;
    -moz-user-select: none;
    -ms-user-select: none;
    touch-action: none;
    transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    width: 8rem;
    &.active {
      background-color: #53648f;
    }
  }
  z-index: 1;
}